<a href="https://colab.research.google.com/github/Hyeon-Seok/Python/blob/master/Python_Review_Solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Google Colab 사용 방법

- 방향키 ↑↓: 셀 간 이동
- Enter: 편집모드
- Ctrl + Enter: 셀 실행
- Shift + Enter: 셀 실행 + 다음 셀 선택

---

- Ctrl +M D: 셀 삭제
- Ctrl + M K: 셀 위로 이동
- Ctrl + M J: 셀 아래로 이동

# 기본 문법 문제

**###** 사이에 정답 코드를 작성해 주세요.

**###** 바깥 부분은 수정 할 수 없습니다.

## 1. 문자열의 길이를 구하세요 (예제)

In [0]:
random_string = "dk2jd923i1jdk2jd93jfd92jd918943jfd8923"

###
len_of_random_string = len(random_string)
###
print(len_of_random_string)

38

## 2. *기호 20개를 출력하세요

In [0]:
###
result = '*'*20
###
print(result)

********************

## 3. 문자열 "30"이 저장된 변수 a를 정수형, 실수형으로 변환 후 type을 출력하세요

In [0]:
a = "30"
###
int_a = int(a)
float_a = float(a)
###
print(type(a))
print(type(int_a))
print(type(float_a))

<class 'str'>
<class 'int'>
<class 'float'>

## 4. 자동차 번호판이 다음과 같을 때 마지막 숫자 4자리만 출력하세요
- 리스트 슬라이싱을 활용하세요

In [0]:
license_plate = "24가 2210"
###
last_4_digit = license_plate[-4:]
###
print(last_4_digit)

2210

## 5. 다음 문자열에서 '-'를 제거 후 출력하세요. : "010-1234-4567"
- replace를 활용하세요

In [0]:
num = "010-1234-4567"
###
replaced_num = num.replace('-', '')
###
print(replaced_num)

01012344567

## 6. 다음 문자열을 대문자, 소문자로 각각 출력하세요 : "PyTHon"
- 문자열 함수 upper(), lower()를 이용하세요

In [0]:
a = "PyTHon"
###
a_upper = a.upper()
a_lower = a.lower()
###
print(a_upper)
print(a_lower)

PYTHON
python

## 7. 주어진 리스트에서 "Apple" 항목만 삭제하세요. : ["Banana", "Apple", "Orange"]
- 리스트 함수 remove()를 이용하세요

In [0]:
a_list = ["Banana", "Apple", "Orange"]
###
a_list.remove("Apple")
###
print(a_list)

['Banana', 'Orange']

## 8. "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하세요.
- movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [0]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
print("전: " + str(movie_rank))
###
movie_rank.insert(1, "슈퍼맨")
###
print("후: " + str(movie_rank))

전: ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
후: ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

## 9. 주어진 리스트의 합을 출력하세요

In [0]:
nums = [1, 2, 3, 4, 5]
###
sum_result = sum(nums)
###
print(sum_result)

15

## 10. 다음 항목을 딕셔너리(dict)로 선언해보세요. 
<성인 - 100000 , 청소년 - 70000 , 아동 - 30000>

In [0]:
###
dic = {'성인': 100000, '청소년': 70000, '아동': 30000}
###
print(dic)

{'성인': 100000, '청소년': 70000, '아동': 30000}

# 제어문 문제

## 조건문: 다음 점수 구간에 맞게 학점을 출력하세요

```
81 ~ 100 : A학점
61 ~ 80 :  B학점
41 ~ 60 :  C학점
21 ~ 40 :  D학점
0 ~ 20 :  E학점
```

In [0]:
score = 23

###
if score > 81:
    credit = "A학점"
elif score > 61:
    credit = "B학점"
elif score > 41:
    credit = "C학점"
elif score > 21:
    credit = "D학점"
else:
    credit = "E학점"
###

print(credit)

D학점

## 반복문: 리스트 항목 중에서 5글자 이상의 단어만 출력하세요

In [0]:
word_list = ["nice", "study", "python", "anaconda", "!"]

###
for i in word_list:
    if len(i) > 5:
        print(i)
###

python
anaconda

## 반복문: 반복문을 활용해 아래 형태로 출력해주세요

1<br>
22<br>
333<br>
4444<br>
55555<br>
666666

In [0]:
for i in range(1,7):
###
    print(str(i)*i)
###

1
22
333
4444
55555
666666